<section class="person-media pb-5" *ngIf="personMovies.length>0">
  <div class="container">
    <div class="w-75 text-white person-media-info">
      <h3 class="mb-3">Movies</h3>
    <div class=" border-bottom" *ngFor="let movie of personMovies.slice(0,10)|removeNullMovies">
    <a [routerLink]="['/moviedetails',movie.id]">
      <div class="row align-items-center">
      <div class="col-md-8">
        <div class="row my-2 ">
          <div class="col-2 ">
            <img [src]="movieImg+movie.poster_path" alt="movie-poster" class="w-100" >
          </div>
          <div class="col-10 ">
            <h2 class="h4 text-white main-hover">{{movie.title}}</h2>
            <span class="text-white"><i class="fa-solid fa-star text-warning me-2"></i>{{movie.vote_average.toFixed(2)}}</span>
            <p class="my-2 text-white">{{movie.character}}</p>
          </div>

        </div>

      </div>
  <div class="col-md-4 text-end text-white">
        <span>{{movie.release_date.split('-').slice(0,1)}}</span>
      </div>
      </div>
</a>
    </div>
    <div *ngIf="seeAll">
    <div class=" border-bottom" *ngFor="let movie of personMovies.slice(10)|removeNullMovies">
    <a [routerLink]="['/moviedetails',movie.id]">
      <div class="row align-items-center">
      <div class="col-md-8">
        <div class="row my-2 ">
          <div class="col-2 ">
            <img [src]="movieImg+movie.poster_path" alt="movie-poster" class="w-100" >
          </div>
          <div class="col-10 ">
            <h2 class="h4 text-white main-hover">{{movie.title}}</h2>
            <span class="text-white"><i class="fa-solid fa-star text-warning me-2"></i>{{movie.vote_average.toFixed(2)}}</span>
            <p class="my-2 text-white">{{movie.character}}</p>
          </div>

        </div>

      </div>
  <div class="col-md-4 text-end text-white">
        <span>{{movie.release_date.split('-').slice(0,1)}}</span>
      </div>
      </div>
</a>
    </div>
</div>
<div class="text-end mt-4">
<a class="main cursor" (click)="seeAll= !seeAll" *ngIf="!seeAll && personMovies.length>20">
  {{ seeAll ? '': 'See All...' }}
</a>
</div>
</div>
  </div>
</section>
