.person-media{
  padding-top: 100px;
}

.person-media-info img{
  height:100px
}

@media screen and (max-width:991px) {
  .person-media-info {
    width: 100% !important;
  }

  .person-media-info img{
    height:auto !important
  }
}
