<section class="sec-padding">
  <div class="container">
    <div class="mt-5 mb-4 pb-3">
      <h1 class="text-white text-capitalize h2 mb-0">{{endPoint.replace("_"," ").split('/').splice(1,1).join(" ")}} tv shows</h1>
    </div>
  <div class="row gx-4 gy-5 pb-5">
 <div class="col-lg-4 col-md-6 col-xl-3  cursor" *ngFor="let series of tvSeries |removeNull">
  <div class="series rounded-2">
    <a [routerLink]="['/tvsereisdetails',series.id]">
    <div class=" overflow-hidden">
  <img [src]="seriesImg+series.poster_path" alt="series" class="w-100">
  </div>
  <div class="p-2 text-white">
    <span class="main text-uppercase series-info">series . <a href="" class="main">review</a>
    </span>
    <h2 class="h5 mt-2 pb-3 series-title border-bottom">{{series.name}}</h2>
    <div class="vote">
      <span *ngIf="series.vote_average>=2"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="series.vote_average>=4"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="series.vote_average>=6"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="series.vote_average>=8"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="series.vote_average>=9"><i class="fa-solid fa-star text-warning"></i></span>
    <span class="ms-2">{{series.vote_average.toFixed(0)}}/10</span>
    </div>
  </div>
  </a>
  </div>
  </div>
  </div>
  <nav aria-label="Page-nav mt-5">
    <ul class="d-flex pt-5 justify-content-center ps-0">
      <li class="page-item mx-2"  *ngFor="let page of pages">
        <a class="page-link text-white main-hover cursor" (click)="showTvSeries(page)" [class.active]="page === currentPage">{{page}}</a></li>
    </ul>
  </nav>
  </div>
</section>
