@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.breaking-bad{
  background: url(../../../../assets/images/inner-breaking-bad.jpg);
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.breaking-bad::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,.3) 50%);
}

.breaking-bad h3{
  font-size: 3.5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
}
