<section class="sec-padding">
  <div class="container">
    <div class="mt-5 mb-4">
      <h1 class="text-white text-capitalize h2 mb-0">{{endPoint.replace("_"," ").split('/').splice(1,1).join(" ")}} movies</h1>
    </div>
  <div class="row gx-4 gy-5">
 <div class="col-lg-4 col-md-6 col-xl-3  cursor" *ngFor="let movie of movies">
  <div class="movie rounded-2">
    <a [routerLink]="['/moviedetails',movie.id]">
    <div class=" overflow-hidden">
  <img [src]="movieImg+movie.poster_path" alt="movie" class="w-100">
  </div>
  <div class="p-2 text-white">
    <span class="main text-uppercase movie-info">movie . <a href="" class="main">review</a>
    </span>
    <h2 class="h5 mt-2 pb-3 movie-title border-bottom">{{movie.title}}</h2>
    <div class="vote">
      <span *ngIf="movie.vote_average>=2"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="movie.vote_average>=4"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="movie.vote_average>=6"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="movie.vote_average>=8"><i class="fa-solid fa-star text-warning"></i></span>
      <span *ngIf="movie.vote_average>=9"><i class="fa-solid fa-star text-warning"></i></span>
    <span class="ms-2">{{movie.vote_average.toFixed(0)}}/10</span>
    </div>
  </div>
  </a>
  </div>
  </div>
  </div>
  <nav aria-label="Page-nav mt-5">
    <ul class="d-flex pt-5 justify-content-center ps-0">
      <li class="page-item mx-2"  *ngFor="let page of pages">
        <a class="page-link text-white main-hover cursor" (click)="showMovies(page)" [class.active]="page === currentPage">{{page}}</a></li>
    </ul>
  </nav>
  </div>
</section>
