.movie{
  background-color: #222325;
  height: calc(100% + 1rem);
  transition: .5s;
}
.movie img{
  transition: .5s;
}

.movie:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.movie:hover img{
  scale: 1.1;
}

.movie .movie-title{
  border-color: #434445 !important;
}

.movie-info, .vote span i{
  font-size: .8rem;
}

.page-item .active{
  color: var(--main-color) !important;
}

@media screen and (max-width:768px) {
  .movie {
    height: auto ;
  }

}
