<section class="sec-padding all-genres">
  <div class="container">
    <div class="row mt-5 mt-sm-0">
      <div class="col-4 d-sm-block d-none">
        <div class=" overflow-hidden slider">
              <div  *ngFor="let movie of trendingMovies" [@moviesslideAnimation] class="slide-animation overflow-hidden p-3">
                <a [routerLink]="['/moviedetails',movie.id]" class="position-relative d-block overflow-hidden">
                <div class=" overflow-hidden poster">
                   <img [src]="mediaImg+movie.poster_path" alt="poster" class="w-100">
              </div>
              <div class="position-absolute text-white media-info top-0 w-100 bottom-0 p-3 d-flex align-items-end">
                <div>
                <h2>{{movie.title}}</h2>
                <button class="btn"></button>
                </div>
              </div>
              </a>
              </div>
      </div>
      </div>
      <div class=" col-sm-4">
        <div class="text-center">
      <ul class="ps-0">
        <li *ngFor="let genre of allGenres"><h2 class="mb-3"><a class="text-white main-hover" [routerLink]="['/showgenres',genre.id]">{{genre.name}}</a></h2></li>
      </ul>
    </div> 
  </div>
  <div class="col-4 d-sm-block d-none">
    <div class=" overflow-hidden slider">
          <div  *ngFor="let tv of trendingTv" [@tvslideAnimation] class="slide-animation tv overflow-hidden  p-3">
            <a [routerLink]="['/tvsereisdetails',tv.id]" class="position-relative d-block overflow-hidden">
            <div class=" overflow-hidden poster">
               <img [src]="mediaImg+tv.poster_path" alt="poster" class="w-100">
          </div>
          <div>
          </div>
          </a>
          </div>
  </div>
  </div>
      
    </div>
   
  </div>
</section>