<footer class="pb-5">
  <div class="container">
    <div class="text-center">
      <ul class="d-flex justify-content-center">
        <li><a routerLink="home" class=" text-capitalize">home</a></li>
        <li class="mx-3"><a routerLink="movie/popular" class="text-capitalize">movies</a></li>
        <li><a routerLink="tv/popular" class="text-capitalize">tv shows</a></li>
      </ul>
      <div class="social">
        <span class="text-center cursor position-relative"><i class="fa-brands fa-facebook-f position-relative z-3"></i></span>
        <span class="mx-2 text-center cursor position-relative"><i class="fa-brands fa-x-twitter position-relative z-3"></i></span>
        <span class=" text-center cursor position-relative"><i class="fa-brands fa-instagram position-relative z-3"></i></span>
      </div>
    </div>
  </div>
</footer>
