/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color:#E62B34;
  --body-background: #131315;
  --section-padding:100px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* classes */
.cursor{
  cursor: pointer;
}
.main{
  color:var(--main-color);
}
.main-bg{
  background-color: var(--main-color);
}
.body-bg{
  background-color: var(--body-background);
}
.main-hover:hover{
  color: var(--main-color) !important;
}

.main-bg-hover:hover{
  background-color: var(--main-color) !important;
}

.sec-padding{
  padding-block: var(--section-padding);
}

/* home slider */
.carousel-indicators{
  margin-inline: 10%;

}
.carousel-indicators [data-bs-target]{
  width: 300px !important;
  margin-inline: 0 !important;
  height: 2px !important;
}

.carousel-indicators .active{
  height: 3px !important;
}

.carousel-item .picsum-img-wrapper{
  transition: 1800ms linear;
}

.carousel-item.active:hover .picsum-img-wrapper{
  scale: 1.1;

}

.carousel-caption{
  top: 55%;
  transform: translateY(-50%);
  left: 2rem;
  right:auto;
}
.carousel-caption h2 a {
  font-size: 3.7rem;
  font-weight: 700;
}
.carousel-caption p{
  font-size: 1.4rem;
}


/* .owl-carousel  */
.casting .owl-carousel .owl-item{
  background-color:#222325;
  border-radius: 5px;
  overflow: hidden;
  height: 290px;
  max-width: 175px;
}

.casting  .owl-theme .owl-nav, .person-images .owl-theme .owl-nav, .home-tv .owl-theme .owl-nav{
  position: absolute;
   top: 35%;
  transform: translateY(-50%);
  width: 100%;
}

.home-tv .owl-theme .owl-nav{
  top: 50% !important;
}

.b{
  background: url(./assets/images/inner-breaking-bad.jpg);
}
.casting .owl-carousel .owl-nav .owl-next,.casting  .owl-carousel .owl-nav .owl-prev, .person-images .owl-carousel .owl-nav .owl-next,.person-images  .owl-carousel .owl-nav .owl-prev,.home-tv .owl-carousel .owl-nav .owl-next,.home-tv  .owl-carousel .owl-nav .owl-prev{
  position: absolute;
}

.casting .owl-carousel .owl-nav .owl-next, .person-images .owl-carousel .owl-nav .owl-next,.home-tv .owl-carousel .owl-nav .owl-next{
  right: -25px;
}

.casting  .owl-carousel .owl-nav .owl-prev, .person-images  .owl-carousel .owl-nav .owl-prev,.home-tv  .owl-carousel .owl-nav .owl-prev{
  left: -25px;
}

.casting .owl-theme .owl-nav [class*=owl-], .person-images .owl-theme .owl-nav [class*=owl-],  .home-tv .owl-theme .owl-nav [class*=owl-]{
  background-color: #f2f2f3;
  color: black;
  font-size: 1.2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 2;
}

.casting .owl-theme .owl-nav [class*=owl-]:hover, .person-images .owl-theme .owl-nav [class*=owl-]:hover, .home-tv .owl-theme .owl-nav [class*=owl-]:hover{
  color: var(--main-color);
}

.casting .owl-theme .owl-nav .disabled, .person-images .owl-theme .owl-nav .disabled, .home-tv .owl-theme .owl-nav .disabled{
  color: white;
  display: none;
}

.person-images .owl-carousel .owl-item{
  max-width: 200px !important;
}

/* media */
@media screen and (max-width:768px) {
*{
  font-size: 14px;
}

  .carousel-item .picsum-img-wrapper img{
    transform: translateX(-40%);
}

.carousel-caption{
  width: 100% !important;
  left: 0;
  padding-inline: 5px !important;
}
.carousel-caption h2 a{
  font-size: 2rem;
}
.carousel-caption p {
  font-size: 1rem;
}
}
@media screen and (max-width:600px) {

  .casting  .owl-theme .owl-nav, .person-images .owl-theme .owl-nav, .home-tv .owl-theme .owl-nav{
    position: static;
    transform: translateY(0);}

.casting .owl-theme .owl-nav [class*=owl-], .person-images .owl-theme .owl-nav [class*=owl-], .home-tv .owl-theme .owl-nav [class*=owl-]{
  font-size: .8rem !important;
  width: 30px !important;
  height: 30px !important;
  position: static;
  line-height: 2.3;

}

.casting .owl-carousel .owl-nav .owl-next, .person-images .owl-carousel .owl-nav .owl-next, .home-tv .owl-carousel .owl-nav .owl-next{
  right: -10px;
}

.casting  .owl-carousel .owl-nav .owl-prev, .person-images  .owl-carousel .owl-nav .owl-prev, .home-tv  .owl-carousel .owl-nav .owl-prev{
  left: -10px;
}
}
